<mat-sidenav-container>
  <mat-sidenav
    class="bg-indigo-800 w-52"
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap="64"
    *ngIf="!showSidenav()"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <mat-icon class="mr-4 text-white"> home </mat-icon>
        <span class="text-white"> Início </span>
      </a>
      <a mat-list-item routerLink="/customers">
        <mat-icon class="mr-4 text-white"> person </mat-icon>
        <span class="text-white"> Clientes </span>
      </a>
      <a mat-list-item (click)="logout()">
        <mat-icon class="mr-4 text-white"> exit_to_app </mat-icon>
        <span class="text-white"> Sair </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="p-4 bg-white">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
