<mat-sidenav-container>
  <mat-sidenav
    class="bg-indigo-800 w-52"
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap="64"
  >
    <mat-nav-list>
      <a mat-list-item>
        <i class="material-icons pr-4 text-white"> home </i>
        <span class="text-white"> Início </span>
      </a>
      <a mat-list-item>
        <i class="material-icons pr-4 text-white"> person </i>
        <span class="text-white"> Clientes </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
